.about .hero .container .left-col {
  max-width: Min(55vw, 12rem);
}

.about .hero .container .right-col .desc {
  text-align: justify;
}

.about .hero .container .right-col .desc strong {
  font-weight: 500;
}

.about .main-content .container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  max-width: Min(90vw, 60rem);
}

.about .main-content .container h2 {
  margin-bottom: .5rem;
}

.about .main-content .container .table {
  display: -ms-grid;
  display: grid;
  margin-bottom: 2rem;
}

.about .main-content .container .table .item {
  text-align: left;
  margin: 1rem 0rem;
}

.about .main-content .container .table .item .b1 {
  font-weight: 500;
}

.about .main-content .container .table .item .b2 {
  display: inline;
}

.about .main-content .container .table .item .b2 a {
  color: var(--accent-2);
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.about .main-content .container .table .item .b2 a:hover {
  opacity: .8;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.about .main-content .container .table .item .b3 {
  color: rgba(59, 63, 62, 0.7);
  display: inline;
}

.about .main-content .container .table .item .b3::before {
  content: "(";
}

.about .main-content .container .table .item .b3::after {
  content: ")";
}

.about .main-content .container .table .item .b4 {
  opacity: .7;
}

.about .main-content .container .work {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

/* TABLET VERSION */
@media all and (min-width: 740px) {
  .about .left-col {
    max-width: Min(30vw, 16rem) !important;
  }
  .about .main-content .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: Min(90vw, 60rem);
    grid-gap: 3rem;
  }
  .about .main-content .container .item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title title date" "description description description" "additional additional additional";
  }
  .about .main-content .container .item .b1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .about .main-content .container .item .b2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: description;
  }
  .about .main-content .container .item .b3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: date;
    text-align: right;
    color: #3b3f3e;
  }
  .about .main-content .container .item .b3::before, .about .main-content .container .item .b3::after {
    display: none;
  }
  .about .main-content .container .item .b4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: additional;
    display: block !important;
  }
  .about .main-content .container .item .b4 ul {
    padding-left: 1.1rem;
    margin-top: 0;
  }
}
/*# sourceMappingURL=about.css.map */