.about {
    .hero .container {

        .left-col {
            max-width: Min(55vw, 12rem); //doodle
        }
        .right-col .desc {
            text-align: justify;

            strong {
                font-weight: 500;
            }
        }
    }

    .main-content .container {
        display: grid;
        text-align: center;
        align-items: start;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        max-width: Min(90vw, 60rem);

        h2 {
            margin-bottom: .5rem;
        }

        .table {
            display: grid;
            margin-bottom: 2rem;

            .item {
                text-align: left;
                margin: 1rem 0rem;

                .b1 {
                    font-weight: 500;
                }

                .b2 {

                    display: inline;
                    
                    a {
                        color: var(--accent-2);
                        transition-duration: var(--trans);
                        &:hover {
                            opacity: .8;
                            transition-duration: var(--trans);
                            
                        }
                    }
                }

                .b3 {
                    color: rgba(59, 63, 62, .7);
                    display: inline;
                }

                .b3::before {
                    content: "(";
                }

                .b3::after {
                    content: ")";
                }

                .b4 {
                    // display: none;
                    opacity: .7;
                }
            }
        }

        .work {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
}

/* TABLET VERSION */
@media all and (min-width: 740px) {
    .about {

        .left-col {
            max-width: Min(30vw, 16rem)!important; //doodle
        }

        .main-content {

        .container {
            grid-template-columns: 1fr 1fr;
            text-align: left;
            max-width: Min(90vw, 60rem);
            grid-gap: 3rem;

            .item {
                display: grid;
                grid-template-areas: 
                "title title date"
                "description description description"
                "additional additional additional";

                .b1 {
                    grid-area: title;
                }
                .b2 {
                    grid-area: description;
                }
                .b3 {
                    grid-area: date;
                    text-align: right;
                    color: rgba(59, 63, 62, 1);
                }

                .b3::before, .b3::after {
                    display: none;
                }

                .b4 {
                    grid-area: additional;
                    display: block !important;

                    ul {
                        padding-left: 1.1rem;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

}