@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
:root {
  --bg-color: #F6F6F6;
  --light-accent: #d5e5e2;
  --mid-accent: #b2cec8;
  --accent-1: #83b1a7;
  --accent-2: #6890ac;
  --body-text: #3b3f3e;
  --body-text-light: rgba(59, 63, 62, .8);
  --trans: .3s;
  --radius: .2rem;
}

body {
  font-family: 'Rubik';
  margin: 0;
  background-color: var(--bg-color);
  color: var(--body-text-light);
}

a {
  text-decoration: none;
  color: var(--accent-2);
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

a:hover {
  opacity: .8;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.25em;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: var(--body-text);
}

.cta-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: var(--accent-1);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.25em;
  text-align: center;
  font-weight: 500;
  border-radius: var(--radius);
  border: 0.1rem solid var(--accent-1);
  padding: .6rem .7rem;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.cta-button:hover {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: var(--accent-1);
  background-color: white;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.navbar {
  padding: 1rem;
  background-color: var(--bg-color);
}

.navbar .logo {
  height: 2rem;
}

.navbar .mobile-menu, .navbar .mobile-menu-exit {
  height: 1.2rem;
  cursor: pointer;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  max-width: 20rem;
  right: -22rem;
  top: 0;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navbar nav a {
  display: block;
  padding: 1rem;
  text-align: center;
  opacity: .7;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
  color: var(--body-text);
}

.navbar nav a:hover {
  background-color: var(--light-accent);
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.navbar nav ul {
  margin-top: 5rem;
  margin-left: 0;
  padding-left: 0;
}

.navbar nav li {
  list-style-type: none;
  margin: 0;
}

.navbar nav .mobile-menu-exit {
  float: right;
  margin-top: .5rem;
}

.hero {
  text-align: center;
  padding: 1rem 2rem;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-img {
  width: 75vw;
  max-width: 20rem;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 2.2rem;
  margin: 0;
  color: var(--body-text);
}

.hero .tagline {
  margin: auto;
  padding-top: 0rem;
  line-height: 125%;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero .hero-cta {
  display: block;
  padding-top: .5rem;
}

.main-content {
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content h2 {
  display: inline-block;
  font-weight: 400;
  padding-bottom: .2em;
  border-bottom: 0.2em solid var(--light-accent);
  margin-bottom: 1rem;
}

.main-content .container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  margin: 0;
  width: 100%;
}

.main-content .container .proj-cover {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  opacity: 0.7;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
  cursor: pointer;
  border-radius: var(--radius);
}

.main-content .container .proj-cover:hover {
  opacity: 1;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.footer {
  display: block;
  padding: 2rem 1rem;
}

.footer a, .footer .contact {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  font-weight: 400;
  font-size: .8rem;
  margin: 0;
  color: var(--body-text-light);
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.footer a:hover, .footer .contact:hover {
  opacity: .7;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.about .hero .container {
  margin: auto;
}

.about .hero .container .left-col img {
  max-width: 15rem;
}

.about .hero .container .right-col .desc {
  text-align: justify;
}

.about .hero .container .right-col .desc strong {
  font-weight: 500;
}

.about .main-content .container {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
}

.about .main-content .container h2 {
  margin-bottom: .5rem;
}

.about .main-content .container .table {
  display: -ms-grid;
  display: grid;
  margin-bottom: .5rem;
}

.about .main-content .container .table .item {
  margin: .5rem 0rem;
}

.about .main-content .container .table .item .b1 {
  font-weight: 500;
}

.about .main-content .container .table .item .b2 a {
  color: var(--accent-2);
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.about .main-content .container .table .item .b2 a:hover {
  opacity: .8;
  -webkit-transition-duration: var(--trans);
          transition-duration: var(--trans);
}

.about .main-content .container .table .item .b3 {
  color: rgba(59, 63, 62, 0.7);
}

.about .main-content .container .table .item .b4 {
  display: none;
}

.about .main-content .container .work {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

/* DESKTOP VERSION */
@media all and (min-width: 50rem) {
  .navbar {
    padding: 2rem;
  }
  .navbar .logo {
    height: 3rem;
  }
  .navbar .mobile-menu {
    display: none;
  }
  .navbar nav {
    display: inline;
    position: unset;
    width: auto;
    max-width: none;
    height: auto;
    background-color: var(--bg-color);
    right: 0;
  }
  .navbar nav a {
    padding: 0;
  }
  .navbar nav a:hover {
    background-color: transparent;
  }
  .navbar nav ul {
    margin: 0;
    padding: 0;
  }
  .navbar nav li {
    display: inline-block;
    margin: 0rem 1rem;
    opacity: 0.7;
    -webkit-transition-duration: var(--trans);
            transition-duration: var(--trans);
  }
  .navbar nav li:hover {
    opacity: .9;
    -webkit-transition-duration: var(--trans);
            transition-duration: var(--trans);
  }
  .navbar nav .current {
    opacity: 1;
    border-bottom: 0.2em solid var(--mid-accent);
  }
  .navbar .mobile-menu-exit {
    display: none;
  }
  .cta-button {
    font-size: .8rem;
    padding: .6rem .7rem;
  }
  .hero .hero-img {
    max-width: 25rem;
  }
  .hero .about-img {
    max-width: 15rem;
  }
  .hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--body-text);
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0rem 2rem;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .container .left-col {
    margin-bottom: -1.25rem;
  }
  .hero .container .right-col {
    text-align: left;
    max-width: 30vw;
  }
  .hero .container .tagline {
    font-size: 1.5rem;
  }
  .hero .container .cta-button {
    margin-top: .5rem;
  }
  .main-content {
    padding: 1rem 2rem;
    padding-bottom: 2rem;
  }
  .main-content .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about .hero .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 60rem;
  }
  .about .hero .container .right-col {
    max-width: 60vw;
  }
  .about .main-content .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: 60rem;
    grid-gap: 2rem;
  }
  .about .main-content .container .item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title date" "description description" "additional additional";
  }
  .about .main-content .container .item .b1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .about .main-content .container .item .b2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: description;
  }
  .about .main-content .container .item .b3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: date;
    text-align: right;
    color: #3b3f3e;
  }
  .about .main-content .container .item .b4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: additional;
    opacity: .7;
    display: block !important;
  }
}
/*# sourceMappingURL=main.css.map */