.project .hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .hero .container .title-box {
  width: 100%;
}

.project .hero .container .title-box .tag {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-color: var(--accent-1);
  padding: .3rem .5rem;
  font-size: .8rem;
  letter-spacing: 0.1rem;
  color: white;
  border-radius: var(--radius);
}

.project .hero .container .right-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: var(--radius);
  outline: 0.2em solid var(--light-accent);
  padding: 1rem;
  margin-top: 1rem;
}

.project .hero .container .right-col table {
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project .hero .container .right-col table td {
  padding-bottom: .5rem;
  text-align: left;
}

.project .hero .container .right-col table th {
  text-align: right;
  vertical-align: top;
  text-transform: uppercase;
  padding-bottom: .5rem;
  padding-right: 1rem;
  font-weight: 500;
  color: var(--accent-1);
}

.project .main-content .container {
  display: block;
  max-width: Min(90vw, 60rem);
}

.project .main-content .container h1 {
  margin-top: 3rem;
}

.project .main-content .container h2 {
  margin-bottom: 0rem;
}

.project .main-content .container p {
  text-align: justify;
}

.project .main-content .container img {
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid var(--body-text);
}

.project .main-content .container strong {
  color: var(--accent-1);
  font-weight: 500;
}

.project .main-content .container .callout {
  background-color: var(--bg-color);
  padding: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 1rem;
  border-radius: var(--radius);
}

/* TABLET VERSION */
@media all and (min-width: 740px) {
  .project .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .main-content .container {
    max-width: Min(90vw, 60rem);
  }
  .project .main-content .container img {
    display: block;
    margin: auto;
  }
  .project .main-content .container .small-img {
    max-width: 30rem;
  }
  .project .main-content .container li {
    text-align: justify;
  }
  .project .main-content .container .row {
    display: -ms-grid;
    display: grid;
    grid-gap: .5rem;
  }
  .project .main-content .container .row img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .project .main-content .container .row .callout {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .project .main-content .container .two-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project .main-content .container .three-col {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .project .main-content .container .four-col {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .project .main-content .container .no-gap {
    grid-gap: 0;
  }

  b {
    font-weight: 500;
  }
}
/*# sourceMappingURL=project.css.map */