.project {
    .hero {
        .container {
            display: flex;
            align-items: flex-start;
            max-width: Min(75vw, 60rem);
    
            .left-col {
                vertical-align: top;
                // background: lightpink;
                margin-right: 1.5rem;
                width: 100%;
                

                .tag {
                    text-transform: uppercase;
                    font-weight: 500;
                    display: inline-block;
                    background-color: var(--accent-1);
                    padding: .3rem .5rem;
                    font-size: .8rem;
                    letter-spacing: 0.1rem;
                    color: white;
                    border-radius: var(--radius);
                }
            }
    
            .right-col {
                // background: lightblue;
                
                table {
                    td {
                        padding-bottom: .5rem;
                        text-align: left;
                    }
                    th {
                        text-align: right;
                        vertical-align: top;
                        text-transform: uppercase;
                        padding-bottom: .5rem;
                        padding-right: 1rem;
                        font-weight: 500;
                        color: var(--accent-1);
                    }
                }

            }
    
            
    
        }
    }
    
    .main-content {
        .container {
            display: block;

            h2 {
                margin-bottom: 0rem;
            }

            p {
                text-align: justify;
            }

            img {
                width: 100%;
                border-radius: var(--radius);
            }

            strong {
                color: var(--accent-1);
                font-weight: 500;
            }

            .row {
            }

            .callout {
                background-color: var(--bg-color);
                padding: 2rem;
                font-weight: 300;
                font-size: 1.2rem;
                align-items: center;
                vertical-align: middle;
                text-align: left;
                margin-bottom: 1rem;
            }
        }
    }
}

@media all and (min-width: 760px) {
    .project {
        .hero {
            .container {
                .left-col {
                    width: 20vw;
                    text-align: right;
                }
            }
        }
        
        .main-content {
            .container {
                max-width: Min(75vw, 60rem);

                img {
                    display: block;
                    margin: auto;
                    
                }

                .small-img {
                    max-width: 30rem;
                }

                li {
                    text-align: justify;
                }

                h2 {
                    margin-top: 2rem;
                }

                .row {
                    display: grid;
                    grid-gap: .5rem;

                    img {
                        object-fit: contain;
                    }

                    .callout {
                        align-self: stretch;
                    }
                    
                }

                .two-col {
                    grid-template-columns: repeat(2, 1fr);
                }
                
                .three-col {
                    grid-template-columns: repeat(3, 1fr);
                }

                .four-col {
                    grid-template-columns: repeat(4,1fr);
                }

                .no-gap {
                    grid-gap: 0;
                }
            }
        }
    }
}