@font-face {
    font-family: 'regina';
    src: url('../fonts/reginablack-solid-webfont.woff2') format('woff2'),
         url('../fonts/reginablack-solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
